*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu{
  height: 120px;
  border-bottom: 2px solid #808080;
  font-family: 'Poppins', sans-serif;
}

.images *{
  font-weight: 400;
}

.google-logo{
  width: 85px;
  margin: 25px 20px;
}

.nav-menu{
  display: flex;
  list-style-type: none;
}

.nav-menu li{
  margin: 0 20px;
  font-size: 16px;
}

.nav-menu li.selected{
  color: #3367d6;
  padding-bottom: 6px;
  border-bottom: 4px solid #3367d6;

}

h2{
  display: inline-block;
  font-size: 28px;
  margin-block: 10px;
  vertical-align: top;
}

.container{
  width: 60%;
  padding: 100px 0 40px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.container h3{
  font-size: 25px;
}

.container p{
  font-size: 16px;
}

.container .outside{
  padding-left: 20px;
  list-style-type: decimal;
}

.container .outside .inside{
  padding-left: 20px;
  padding-block: 10px;
  list-style-type: lower-alpha;
}

.container .outside .inside li{
  padding-block: 10px;
}